@font-face {
    font-family: "satoshi";
    src: url("../fonts/BlackerSansProVariableGX.ttf");
    font-weight: 100;
  }
  
  @font-face {
    font-family: "ClashDisplayl";
    src: url("../fonts/BlackerSansProVariableGX.ttf");
    font-weight: 100;
  }
  
  @font-face {
    font-family: "ClashDisplayR";
    src: url("../fonts/BlackerSansProVariableGX.ttf");
    font-weight: 200;
  }
  